.contact-clean {
    padding: 20px 0;
}

*:not([bs-anim-preview]) {
    transition: none !important;
    transition-duration: 0s !important;
}

* {
    cursor: default !important;
    pointer-events: all !important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.json-textarea-container{
    height: 100%;
}

.contact-clean form {
    max-width: 950px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

div {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

table, th, td
{
    margin: 0px auto;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
}
